.AboutImageContainer {
  width: 100%;
  height: auto;
  max-width: 460px;
}

@media (min-width: 676px) {
  .AboutImageContainer {
    min-height: 30rem;
    width: 28rem;
  }
}

.AboutContentContainer {
  color: var(--background-color-light);
  margin-top: 2.5rem;
}
