.AboutImageContainer {
  width: 100%;
  height: auto;
  align-items: center;
  max-width: 600px;
}

@media (min-width: 676px) {
  .AboutImageContainer {
    min-height: 30rem;
    width: 25rem;
  }
}

@media (max-width: 676px) {
  .AboutImageContainer {
    min-height: 30rem;
    width: fit-content;
    overflow-x: hidden;
  }
}
@media (max-width: 992px) {
  .AboutImageContainer Image {
    min-height: 30rem;
    width: 100%;
    margin: 0 0;
    overflow-x: hidden;
  }
}

.AboutContentContainer {
  color: #120f13;
  margin-top: 2.5rem;
}
