.parallax {
  background: url('https://i.ibb.co/JzcY3Bm/house1.jpg');

  /* Full height */
  min-height: 750px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
  }
}
