.authImage {
  height: 137px;
}
.googleAuthSection {
  background: rgb(190, 183, 183);
  padding: 8rem;
  margin: 0 auto;
}

.googleAuthSection:hover {
  box-shadow: 1px 0px 7px rgb(209, 190, 190);
}
.googleAuthSection Button {
  text-align: center;
}
