.googleAuthSection {
  background: rgb(3, 20, 53);
  padding: 8rem;
  margin: 30px auto;
}

.googleAuthSection:hover {
  box-shadow: 1px 0px 7px rgb(17, 15, 15);
  transform: 2s;
}
.googleAuthSection Button {
  text-align: center;
}
