.imagesSize {
  width: 100%;
  max-height: 383px;
}
.CardStylesForServices {
  margin: 0 0 0 -100px;
  background: #3e3e3e;
  border: 2px solid rgb(221, 208, 208);
}

@media screen and (max-width: 726px) {
  .CardStylesForServices {
    margin: 0px;
  }
  .groupServiceOnResponsive {
    border: 2px solid rgb(197, 188, 188);
  }
  .columnPaddingRemoveInResponsive {
    padding: 0;
  }
}
@media screen and (max-width: 992px) {
  .CardStylesForServices {
    margin: -50px;
  }
}
