.headerOfParticularService {
  color: royalblue;
}
.cardbackgroundForm {
  background: #ffffff;
}

.CalendarSection {
  margin: auto;
  width: 100% !important;
  height: auto;
}
.submitButtonStyle {
  background: white;
  color: black;
  border: 2px solid #e7e7e7;
  padding: 12px 25px;
  font-size: 16px;
  transition-duration: 0.4s;
  outline: none;
}

.submitButtonStyle:hover,
.submitButtonStyle:focus,
.submitButtonStyle:active {
  background: #e7e7e7 !important;
  color: black;
  border: 2px solid #e7e7e7;
  box-shadow: 0px 0px 4px rgb(146, 142, 142);
}
.bgText {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: rgb(161, 153, 153);
  font-weight: bold;
  font-size: 4.5rem;
  border: 10px solid #f1f1f1;
  position: fixed; /* Stay fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: fit-content;
  padding: 25px;
  text-align: center;
}
